@font-face {
    font-family: 'vazir';
    src: url('font/iran-sans.eot');
    src: url('font/iran-sans.eot') format('eot'), url('font/iran-sans.woff') format('woff'), url('font/iran-sans.ttf') format('ttf'), url('font/iran-sans.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.pl-0{
    padding-left: 0 !important;
}
.ml-0{
    margin-left: 0 !important;
}
body {
    font-family: 'vazir' !important;
    background-color: rgba(0, 0, 0, .0);
    margin: 0;
}

body>form {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden !important;
    height: 100vh;
    /* background-color: white; */
}

.hasSubItem {
    width: 15px;
    height: 15px;
    background-color: #3F51B5;
    display: inline-block;
    border-radius: 50%;
}

.can {
    width: 15px;
    height: 15px;
    background-color: green;
    display: inline-block;
    position: absolute;
    right: 45%;
    border-radius: 50%;
}

.cant {
    width: 15px;
    height: 15px;
    background-color: red;
    display: inline-block;
    position: absolute;
    right: 40%;
    border-radius: 50%;
}

table .can, table .cant {
    position: static;
}

.ps-scrollbar-x-rail {
    display: none !important;
}

.chips-container {
    text-align: right;
}

.chips-container input {
    border: none;
    width: auto;
    height: 100%;
}

.chips-container>span>span {
    background-color: #747e88;
    color: white;
    border-radius: 5px;
    padding: 1px 5px;
    margin: 5px 2px;
    position: relative;
}

.chips-container>span>span>span {
    display: inline-block;
}

.col-12 .completionList li, .col-xl-12 .completionList li {
    list-style: none;
    text-align: right !important;
    font-family: 'vazir';
    font-size: 1.2em;
    padding: 10px;
    margin: 5px 0;
}

.col-12 .completionList, .col-xl-12 .completionList, .completionList {
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    padding: 5px;
    background-color: white;
    min-width: 35em !important;
}

.completionList li {
    list-style: none !important;
    text-align: right !important;
}

.special-date table td input {
    width: 40px;
    border: none;
    border-radius: 5px;
    height: 20px;
    background-color: initial;
    position: relative;
    top: -0.3em;
}

.special-date table td a {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
    color: grey !important;
}

.special-date>.input-group>span {
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
    background-color: white;
}

.pager table {
    width: 50%;
    position: relative;
    top: -1em;
}

.special-date>.input-group>table {
    position: relative;
    top: -0.3em;
}

/* bottstrap */

.mb-3, .my-3 {
    margin-bottom: 0 !important;
}

input[type="radio"]+label {
    /*some styles here*/
    position: relative;
    top: -0.3em;
    margin: 0 5px;
}

.input-group-text {
    padding: .175rem .4rem;
    min-width: 8.5em;
    font-size: 0.66em;
    font-weight: lighter;
    background-color: inherit !important;
}

.card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 1px -1px rgba(0, 0, 0, .12) !important;
    padding: 5px;
    margin: 5px;
    background-color: rgba(249, 249, 249, 0.95);
}

.form-control {
    font-size: 0.7em;
    font-weight: lighter;
}

.form-control {
    height: calc(1em + .75rem + 2px) !important;
    padding: .175rem .75rem !important;
    font-size: 0.7em !important;
    line-height: 1 !important;
}

.tooltip {
    font-family: 'vazir';
    font-size: 0.7em;
}

.multiselect-container>li>a>label.checkbox, .multiselect-container>li>a>label.radio {
    width: 100%;
    text-align: right;
}

[class*="col-"] {
    margin: 5px 0;
}

/* end of bootstrap */

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray !important;
    opacity: 0.9 !important;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: lightgray;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: lightgray;
}

input, select, textarea {
    font-family: 'vazir' !important;
}

button, input[type='button'], input[type="submit"] {
    min-width: 80px;
}

textarea {
    font-size: 0.7em;
    color: gray !important;
}

hr {
    border: 1px solid lightgrey !important;
    width: 90%;
    margin-right: 5%;
}

.HeaderForm {
    padding: 5px 15px;
    color: white;
    background-color: #75beea;
    margin: 5px;
    font-size: 0.8em;
    text-align: right;
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); */
    border-radius: 5px
}
.HeaderForm-sub {
    background-color: #E95E38;
}
.info-header {
    background-color: #3F51B5;
    color: white;
    margin: 0 -5px 0 0;
    font-size: 0.8em;
    padding: 0 15px;
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.inner-login-container {
    width: 35%;
    min-height: 32%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    padding: 2em;
    text-align: center;
    position: relative;
    background-color: #f3f3f3;
}

.inner-login-container img {
    width: 15%;
    position: relative;
    top: -1em;
}

.inner-login-container .new-input {
    width: 100%;
}

.error {
    border: 1px solid red !important;
}

.new-input:active, .new-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.new-input[disabled="true"], .new-input:read-only, .new-input[readonly="readonly"], .new-input:-moz-read-only, .new-input[readonly], .new-input[type="text"]:read-only {
    background-color: lightgrey !important;
}

.number-input {
    direction: ltr;
    text-align: right;
}

.HeaderForm1 {
    padding: 7px 15px;
    color: white;
    background-color: #3F51B5;
    margin: 0;
    font-size: 0.9em;
    text-align: right;
}

.dropdown-menu .active a {
    background-color: none !important;
    background-image: none !important;
}

.tools {
    color: #3F51B5;
    /* background-color: #ECEEF8;
    border: 1px solid lightgray;
    border-bottom: none;
    margin: 0 5px -5px 25px; */
    margin: 0 5px -10px 0 !important;
    padding: 0;
}

.tools input {
    margin: 0 5px;
}

.tools input:nth-child(2), .tools input:nth-child(1) {
    position: relative;
    top: 3px;
}

.tools .width-60, .tools .width-40 {
    margin: 0;
    padding: 5px 15px;
}

.font, .title, TD.title, a {
    font-family: 'vazir' !important;
}

a, label, .asp-label, legend {
    color: #4a4a4a;
}

legend {
    font-size: 0.7em
}

a:hover label {
    color: white;
}

.multiselect-container>li>a>label>input[type="checkbox"] {
    position: relative;
    left: -15%;
}

.multiselect-container>li {
    font-size: 1.5em;
    padding: 5px;
}

.table-input .title span {
    color: gray;
    font-size: 0.6em !important;
    font-weight: bolder;
}

.title {
    text-align: right !important;
}

.title span {
    width: 100% !important;
}

.table-input .title {
    width: 20.5% !important;
}

.asp-label {
    font-size: 0.7em;
}

.main-container {
    width: 100%;
}

.filter {
    /* display: inline-block; */
    float: left;
}

.new-input, .table-input .affect input, .affect input {
    color: #495057;
    background-color: #fff;
    padding: 1px 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 40%;
    display: inline-block;
    margin: 5px 0;
}

.radio-label {
    font-size: 0.8em !important;
}

.special-input {
    height: 30px !important;
    border: 1px solid lightgray;
    position: relative !important;
    top: 7px;
    min-width: auto !important;
    border-radius: 5px;
}

.table-input .affect input {
    width: 40% !important;
}

.affect input {
    width: 90% !important;
    height: 22px;
}

.table-input tbody td {
    border: none !important;
}

.width-50 {
    width: 47%;
    display: inline-block;
    margin: 5px 0;
    /* float: right; */
    padding: 5px 10px;
    position: relative;
}

.width-60 {
    width: 58%;
    display: inline-block;
    margin: 5px 0;
    padding: 5px 15px;
    position: relative;
}

.width-40 {
    width: 35%;
    display: inline-block;
    margin: 5px 0;
    padding: 5px 15px;
    position: relative;
}

.width-70 {
    width: 66%;
    display: inline-block;
    margin: 0px 0;
    padding: 0px 10px;
    position: relative;
}

.width-70 .width-50 {
    margin: 0;
    padding: 0;
}

.width-70 .asp-label {
    font-size: 0.7em;
}

.width-70 .label-container {
    width: 22%;
}

.width-70 .input-container {
    width: 76%;
}

.width-70 .width-50 .new-input {
    width: 63%;
}

.width-30 {
    width: 28%;
    display: inline-block;
    margin: 0px 0;
    padding: 0px 10px;
    position: relative;
}

.width-50 .width-50 {
    /* width: 44%; */
    padding: 0;
}

.width-33 .new-input {
    width: 35.5%;
}

.width-25 {
    width: 23%;
    display: inline-block;
    padding: 0px 10px;
}

.width-75 {
    width: 74%;
    display: inline-block
}

.width-75 .label-container {
    width: 12% !important;
}

.width-75 .input-container {
    width: 86.5% !important
}

.center {
    text-align: center;
}

.edit-tr {
    z-index: 50;
    position: relative;
}

.width-50 select {
    width: 60% !important;
    height: 25px;
}

.col-container {
    margin-right: 0.5%;
}

.col-33 {
    width: 32%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.col-33 .label-container {
    width: 25%;
}

.col-33 .input-container {
    width: 73%;
}

.col-33 .new-input {
    width: 90%;
}

.col-66 {
    width: 64.5%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.col-50 {
    width: 48.3%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.width-90 {
    width: 90%;
    text-align: left;
}

.new-button {
    background-color: #3F51B5;
    color: #ECEEF8;
    font: 'vazir';
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin: 3px 0;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    font-size: 0.8em;
}

.new-button:disabled {
    background-color: lightgrey;
    color: gray;
}
.btn-info {
    background-color: #17a2b8 ;
}
.btn-warning {
    background-color: #ffc107;
}
.green {
    background-color: green;
    color: white
}

.red {
    background-color: red;
    color: white
}

.special-iframe {
    height: 82.5vh;
    width: 100%;
    border: 1px solid lightgrey;
}

.special-iframe body>form {
    height: 96vh;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: none;
}

table tbody td {
    border: 1px solid #dee2e6;
    font-size: 0.9em;
}

table td>table td {
    font-size: 0.9em;
    text-align: center;
}

table td>table tr {
    border: none;
}

table thead th, .table-body th, table thead td {
    border: 1px solid #747e88;
    font-size: 0.75em;
    text-align: center !important;
}

.table-body td {
    position: relative;
    right: 0;
}

th, table thead td {
    padding: 3px 5px;
}

.number {
    width: 8%;
}

.date {
    width: 10%;
}

.describe {
    width: 35%;
}

.account {
    width: 15%;
}

.pre-no {
    width: 7%;
}

.status {
    width: 5%;
}

.table-header {
    padding: 5px 5px 0 24px;
}

.table-header .width-50 {
    padding: 10px 0;
    margin: 0;
}

.table-body {
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 5px;
    min-height: 2em;
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, .5); */
}
.alter {
    position: absolute;
    width: 15em;
    height: 7em;
    top: 120%;
    left: 0%;
    background-color: rgb(240, 240, 240);
    z-index: 1;
    border: 1px solid lightgray;
    border-radius: 5px;
    direction: ltr;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
}
.alter > div {
    margin: 5px 0;
}
.test td, .form td {
    border: none;
    font-size: 0.8em;
    text-align: center;
    border-left: 1px solid #dee2e6;
}

.test td {
    font-size: 0.75em !important;
    padding: 5px 15px !important;
}
.cal-table td {
    border: 1px solid lightgray !important;
    padding: 40px 0 !important;
}
.card-body .cal-table td {
    padding: 15px 0 !important;
}
.cal-card {
    min-height: 24em;
}
table tr td {
    text-align: right;
}

/* table tbody tr {
    position: relative;
} */

table td a {
    position: absolute;
    width: 93%;
    height: 28px;
    right: 5%;
    z-index: 1;
    opacity: 0;
}

.ui-widget-content table a {
    position: static;
    opacity: 1;
}

.ui-datepicker-calendar tbody tr td:last-child a {
    color: red !important;
}

.ui-datepicker-next::before {
    position: absolute;
    content: "";
    border: solid #3F51B5;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    top: 0.9em;
    left: 0.8em;
}

.ui-datepicker-prev::before {
    position: absolute;
    content: "";
    border: solid #3F51B5;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 0.9em;
    right: 0.9em;
}

.right-align {
    text-align: right !important;
}

.table-body>table>tbody>tr:nth-child(2n) td {
    background-color: rgba(0, 0, 0, .03);
}

.table-body>table>tbody>tr td>table td {
    border-top: none;
    border-bottom: none;
}

/* .table-body>table>tbody>tr:nth-child(2n+1) td {
    border-top: none;
    border-bottom: none;
} */

.ui-datepicker-title select {
    height: 25px !important;
    font-size: 0.8em;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 0 3px;
    width: 45% !important;
}

.table-body tr:hover td, .selected, .w3-blue, .w3-table-all tbody tr:hover {
    background-color: #ECEEF8 !important;
    color: #3F51B5;
}

.DatagridSelectItem td, .DatagridMouseOver td {
    background-color: rgba(115, 183, 255, 0.5) !important;
    color: white;
}

.table-footer {
    padding: 0px 6px 0px 22px;
}

.table-footer td {
    font-size: 0.7em;
    padding: 5px;
}

.table-footer tr {
    background-color: white !important;
}

.table-footer tr td {
    border: 1px solid gray;
}

thead tr, #trHeader, .special-td, .table-body th, .table-footer tr {
    background-color: #d1daef !important;
    color: black;
}

.no-border table {
    border: none;
}

.no-border table td {
    border: none;
}

.no-border table td a {
    position: static;
    opacity: 1;
}

.no-border center {
    direction: ltr;
}

.no-border center input {
    border: none !important;
    min-width: auto !important;
    cursor: pointer;
    background-color: inherit;
}

.pdp-default {
    z-index: 150000 !important;
    font-family: 'vazir' !important;
}

.pdp-default .dows {
    background-color: #3F51B5 !important;
}

.pdp-default .day, .pdp-default .dow {
    font-family: 'vazir' !important;
}

.pdp-default .dow {
    border: 1px solid #3F51B5;
}

.pdp-default .today {
    background-color: #3F51B5 !important;
    border-color: #ECEEF8 !important;
}

.pdp-default .pdp-footer {
    background-color: #ECEEF8 !important;
}

.pdp-default .pdp-footer .goToday {
    color: #3F51B5 !important;
}

.special-responsive {
    width: 33.8%;
}

.label-container {
    width: 20%;
    display: inline-block
}

.width-25 .label-container {
    width: 35%;
}

.width-25 .label-container label {
    font-size: 0.7em;
}

.label-container label {
    font-size: 0.75em;
}

.multiselect {
    width: 100%;
}

.input-container {
    width: 79%;
    display: inline-block;
}

input[type='checkbox'] {
    margin-left: 15px;
}

.width-25 .input-container {
    width: 63%;
}

.width-25 .new-input {
    width: 100%;
}

.printing {
    text-align: left;
}

.printing table {
    width: 50%;
    position: relative;
    top: 0em;
    float: left;
    left: 15%;
}

.printing table td {
    display: inline-block !important;
    width: 15% !important;
    border: none !important;
}

.td-font td {
    font-size: 0.8em !important;
}

.balance tr td span, .balance tr td {
    font-size: 0.7em !important;
}

.web_dialog3 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    right: auto;
    background-color: transparent;
    z-index: 1000;
}

.inner-dialog {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.web-dialog-container {
    width: 70%;
    height: 95%;
    background-color: #F3F3F3;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
    z-index: 2;
    overflow-y: auto;
    border-radius: 5px;
}

.web-dialog-container>div {
    height: 100%;
}

.web-dialog-container .width-25 {
    width: 22%;
}

.web_dialog2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web_dialog2>div {
    width: 50%;
    height: 10em;
    border: 1px solid lightgray;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    background-color: rgb(231, 231, 231);
}

.special-label {
    font-size: 0.65em !important;
}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    width: 100%;
}

ul.tabs li {
    font-family: 'vazir';
    float: right;
    margin: 0;
    cursor: pointer;
    padding: 7px 21px;
    border: 1px solid #ECEEF8;
    color: white;
    border-left: none;
    background: #3F51B5;
    overflow: hidden;
    position: relative;
    font-size: 0.9em;
}

ul.tabs li:last-child {
    border-left: 1px solid #ECEEF8;
}

ul.tabs li:hover {
    background: #ECEEF8;
    color: #3F51B5;
}

ul.tabs li.active {
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    color: #3F51B5;
}

.full-screen {
    width: 99% !important;
    display: inline-block;
}

.min-screen {
    width: 0 !important;
    overflow: hidden;
    display: inline-block;
}

textarea.form-control {
    line-height: 1.3 !important;
    color: black;
}

.dark-theme .card {
    background-color: rgba(0, 0, 0, .4);
}

.dark-theme .input-group-text {
    color: white;
}

.dark-theme .form-control {
    background-color: rgba(255, 255, 255, .1) !important;
    border: 1px solid #ced4da;
    color: white;
}

.dark-theme .form-control:focus {
    color: white;
    background-color: rgba(255, 255, 255, .1) !important;
}

.dark-theme .tooltip .tooltip-inner {
    background-color: white !important;
    color: black;
}

.dark-theme .tooltip-arrow {
    border-top-color: white !important;
}

.dark-theme table {
    background-color: initial !important;
}

.dark-theme .table-body>table>tbody>tr:nth-child(2n+1) td {
    color: white;
}

.dark-theme .table-body>table>tbody>tr:nth-child(2n) td {
    background-color: rgba(255, 255, 255, .05);
    color: white;
}

.dark-theme .table-body>table>tbody>tr:hover td, .dark-theme .selected {
    color: #3F51B5 !important;
}

.dark-theme .asp-label, .dark-theme a, .dark-theme label, .dark-theme legend {
    color: white;
}

.dark-theme .form-control input {
    background-color: initial !important;
    color: white;
}

.dark-theme .chips-container>span>span {
    color: #747e88;
    background-color: white;
}

.dark-theme textarea.form-control {
    color: white !important;
}

.dark-theme .no-border input {
    color: white;
}

.dark-theme select option {
    background-color: rgba(0, 0, 0, .2) !important;
}

/* chart */

.chart-ul li {
    display: inline-table;
    text-align: center;
    margin: 20px 5px;
}

.chart-ul>li::before {
    content: "";
    height: 0.65em;
    width: 5px;
    border-left: 1px solid lightgray;
    position: absolute;
    top: 1.9em;
    left: calc(50% - 2.5px);
}

.chart-ul {
    text-align: center;
    padding: 0;
}

.chart-ul ul {
    padding: 0;
    position: relative;
    white-space: nowrap;
}

.chart-ul ul li::before {
    content: "";
    width: 160%;
    border-top: 1px solid lightgray;
    height: 1px;
    position: absolute;
    top: -0.8em;
    right: 0%;
}

.chart-ul ul>li:first-child::before {
    right: 50.1%;
    width: 78%;
}

.chart-ul ul>li:last-child::before {
    right: 2%;
    /* left: 47%; */
    width: 50%;
}

.chart-ul ul>li:only-child::before {
    width: 0;
}

.chart-ul ul::after {
    content: "";
    height: 0.55em;
    width: 5px;
    border-left: 1px solid lightgray;
    position: absolute;
    top: 0;
    left: calc(50% - 2.5px);
}

.chart-ul ul:empty {
    display: none;
}

.chart-ul ul span::after {
    content: "";
    height: 0.9em;
    width: 5px;
    border-left: 1px solid lightgray;
    position: absolute;
    top: -0.9em;
    left: calc(50% - 2.5px);
}

.chart-ul .spinner-border {
    position: relative;
    top: -6px;
    right: -5px;
}

.chart-ul li>span {
    border: 1px solid lightgray;
    border-radius: 5px;
    display: inline-block;
    width: 10em;
    font-size: 0.8em;
    padding: 5px;
}

.chart-ul li span span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    display: inline-block;
    font-size: 0.8em;
}

.chart-ul li span i {
    position: relative;
    top: -0.3em;
    transition: all 0.5s;
}

.rotate-up {
    transform: rotate(180deg);
}

.location-chevron {
    position: absolute;
    left: 0.5em;
    top: 0.2em;
    z-index: 10;
}

.location-table {
    position: absolute;
    width: 100%;
    min-height: 14em;
    border: 1px solid lightgray;
    z-index: 10;
    background-color: white;
    top: 1.6em;
    border-radius: 5px;
}
.first .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #E95E38;
    border-color:#E95E38;
}
.second .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #000099;
    border-color:#000099;
}
.table-second {
    background-color: #000099 !important;
    color: white !important;
}
.test tr:hover .table-second {
    background-color: #000099 !important;
    color: white !important;
}
.table-second div:first-child {
    border-top: 2px solid white;
}
.table-second div:last-child {
    border-bottom: 2px solid white;
}
.third .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #009999;
    border-color:#009999;
}
.table-third {
    background-color: #009999 !important;
    color: white !important;
}
.test tr:hover .table-third {
    background-color: #009999 !important;
    color: white !important;
}
.table-third div:first-child {
    border-top: 2px solid white;
}
.table-third div:last-child {
    border-bottom: 2px solid white;
}
.th4 .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ff3300;
    border-color:#ff3300;
}
.table-4 {
    background-color: #ff3300 !important;
    color: white !important;
}
.table-4 div:first-child {
    border-top: 2px solid white;
}
.table-4 div:last-child {
    border-bottom: 2px solid white;
}
.test tr:hover .table-4 {
    background-color: #ff3300 !important;
    color: white !important;
}
.th5 .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #e600e6;
    border-color:#e600e6;
}
.table-5 {
    background-color: #e600e6 !important;
    color: white !important;
}
.table-5 div:first-child {
    border-top: 2px solid white;
}
.table-5 div:last-child {
    border-bottom: 2px solid white;
}
.test tr:hover .table-5 {
    background-color: #e600e6 !important;
    color: white !important;
}
.th6 .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ffaa00;
    border-color:#ffaa00;
}
.table-6 {
    background-color: #ffaa00 !important;
    color: white !important;
}
.table-6 div:first-child {
    border-top: 2px solid white;
}
.table-6 div:last-child {
    border-bottom: 2px solid white;
}
.test tr:hover .table-6 {
    background-color: #ffaa00 !important;
    color: white !important;
}
.th7 .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #33ccff;
    border-color:#33ccff;
}
.table-7 {
    background-color: #33ccff !important;
    color: white !important;
}
.table-7 div:first-child {
    border-top: 2px solid white;
}
.table-7 div:last-child {
    border-bottom: 2px solid white;
}
.test tr:hover .table-7 {
    background-color: #33ccff !important;
    color: white !important;
}
.th8 .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #008000;
    border-color:#008000;
}
.table-8 {
    background-color: #008000 !important;
    color: white !important;
}
.table-8 div:first-child {
    border-top: 2px solid white;
}
.table-8 div:last-child {
    border-bottom: 2px solid white;
}
.test tr:hover .table-8 {
    background-color: #008000 !important;
    color: white !important;
}
.th9 .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #800080;
    border-color:#800080;
}
.table-9 {
    background-color: #800080 !important;
    color: white !important;
}
.table-9 div:first-child {
    border-top: 2px solid white;
}
.table-9 div:last-child {
    border-bottom: 2px solid white;
}
.test tr:hover .table-9 {
    background-color: #800080 !important;
    color: white !important;
}
.th10 .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #996633;
    border-color:#996633;
}
.table-10 {
    background-color: #996633 !important;
    color: white !important;
}
.table-10 div:first-child {
    border-top: 2px solid white;
}
.table-10 div:last-child {
    border-bottom: 2px solid white;
}
.test tr:hover .table-10 {
    background-color: #996633 !important;
    color: white !important;
}
.th11 .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #4c00e6;
    border-color:#4c00e6;
}
.table-11 {
    background-color: #4c00e6 !important;
    color: white !important;
}
.table-11 div:first-child {
    border-top: 2px solid white;
}
.table-11 div:last-child {
    border-bottom: 2px solid white;
}

.test tr:hover .table-11 {
    background-color: #4c00e6 !important;
    color: white !important;
}
.table-12 {
    background-color: #007bff !important;
    color: white !important;
}
.table-12 div:first-child {
    border-top: 2px solid white;
}
.table-12 div:last-child {
    border-bottom: 2px solid white;
}
.test tr:hover .table-12 {
    background-color: #007bff !important;
    color: white !important;
}
.th13 .custom-control-input:checked ~ .custom-control-label::before {
    background-color: orange !important;
    border-color: orange;
}
.table-13 {
    background-color: orange !important;
    color: white !important;
}
.table-13 div:first-child {
    border-top: 2px solid white;
}
.table-12 div:last-child {
    border-bottom: 2px solid white;
}
.test tr:hover .table-13 {
    background-color: orange !important;
    color: white !important;
}
.location-table .table-body {
    height: 50%;
}

.new-button:focus {
    box-shadow: 0 2px 15px 3px rgba(0, 0, 0, .26);
}

.steper {
    background-color: lightgray;
    color: gray;
    font-size: 0.8em;
    display: inline-block;
    margin: 0 3px;
    padding: 5px 30px 5px 5px;
    position: relative;
}

.steper::before {
    content: "";
    border-top: 15.5px solid transparent;
    border-bottom: 14.5px solid transparent;
    border-right: 14.5px solid lightgray;
    position: absolute;
    left: -14px;
    top: 0;
    z-index: 5;
}

.steper::after {
    content: "";
    border-top: 15.5px solid transparent;
    border-bottom: 14.5px solid transparent;
    border-right: 14.5px solid white;
    position: absolute;
    right: 0px;
    top: 0;
}

.steper-container .active {
    background-color: #75BEEA;
    color: white;
}

.steper-container .active::before {
    border-right: 14.5px solid #75BEEA;
}

input[type="button"]:disabled {
    color: gray !important;
    background-color: lightgray !important;
}

.ui-widget-content {
    z-index: 1000000 !important;
}

.time-line {
    position: relative;
    text-align: right;
    font-size: 0.7em;
}

.time-line::before {
    content: "";
    position: absolute;
    right: -10px;
    height: 115%;
    width: 1px;
    border-left: 3px solid #41C6F9;
}

.time-line > div::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #41C6F9;
    right: -19.5px;
    top: 30%;
}

.changed {
    background-color: rgba(255, 0, 0, 0.5);
}


.today {
    background-color: #d1ecf1;
    color: #0c5460;
}

.holiday {
    background-color: #f8d7da;
    color: #721c24;
}
.striped {
    background: linear-gradient(45deg, #f8d7da 25%, white 25%, white 50%, #f8d7da 50%, #f8d7da 75%, white 75%, white 100%);;
    color:  #721c24;
    background-size: 10.28px 10.28px;
}
.striped .alter {
    color:  #721c24;
}
.custom-check .custom-control-label::before,
.custom-check .custom-control-label::after {
    right: -1.5rem;
    left: auto;
}
@media screen and (max-width: 1340px) {
    [class*="col-"] {
        margin: 3px 0;
    }
}

@media screen and (max-width: 908px) {
    .width-25 {
        width: 22%;
    }
    .width-25 .label-container {
        width: 43% !important;
    }
    .width-25 .input-container {
        width: 54% !important;
    }
    .special-container .input-container {
        width: 67% !important;
    }
    .special-container .label-container {
        width: 31% !important;
    }
    .special-container .input-container .new-input, .special-container .input-container select {
        width: 75% !important;
    }
    .width-70 .width-30 {
        width: 27%;
    }
    .printing table td {
        width: 20% !important;
    }
    .new-input {
        width: 39%;
    }
    .special-responsive {
        width: 29.8%;
    }
    .width-70 .label-container {
        width: 29%;
    }
    .width-70 .input-container {
        width: 69%;
    }
    .col-33 .label-container label {
        font-size: 0.6em;
    }
    .col-33 .label-container {
        width: 29%;
    }
    .col-33 .input-container {
        width: 69%;
    }
    .col-33 .new-button {
        font-size: 0.6em;
    }
    .special-label {
        font-size: 0.5em !important;
    }
    .main-container-page .full-screen {
        width: 100%;
    }
    .main-container-page .min-screen {
        width: 0;
    }
    .width-50 {
        width: 47% !important;
    }
    .width-60 {
        width: 56%;
    }
}

@media (max-width:1140px) and (min-width:910px) {
    .input-group-text {
        min-width: 6em !important;
    }
}

@media screen and (max-width: 576px) {
    [class*="col-"] {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
