<div ng-controller="PersonnelCtrl">
    <div class="card collapse" id="demo">
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            چارت سازمانی
                        </label>
                    </div>
                    <p class="form-control pointer" style="text-align: right;" ng-click="changeSelectPostStatus()">
                        {{searchItems.treeName}}
                        <i class="fa fa-chevron-down float-left" style="font-size: 16px;"></i>
                        <i class="fa fa-close text-danger float-left" style="font-size: 16px;margin-left: 10px;"
                            ng-if="searchItems.tri != null" ng-click="clearChart()"></i>
                    </p>
                    <div ng-if="selectPostStatus" class="top-Ab">
                        <div ng-controller="organizationSelectController" ng-init="getRootData()">
                            <div class="chartHolder card" ng-include="'modules/chartTree.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            نام
                        </label>
                    </div>
                    <input class="form-control" type="text" ng-model="searchItems.name">
                    <i class="fa fa-close text-danger" style="position: absolute;left: 5%;top: 0.3em;"
                        ng-show="searchItems.name != ''" ng-click="searchItems.name = '';"></i>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            نام خانوادگی
                        </label>
                    </div>
                    <input class="form-control" type="text" ng-model="searchItems.family">
                    <i class="fa fa-close text-danger" style="position: absolute;left: 5%;top: 0.3em;"
                        ng-show="searchItems.family != ''" ng-click="searchItems.family = '';"></i>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            نام پدر
                        </label>
                    </div>
                    <input class="form-control" type="text" ng-model="searchItems.fatherName">
                    <i class="fa fa-close text-danger" style="position: absolute;left: 5%;top: 0.3em;"
                        ng-show="searchItems.fatherName != ''" ng-click="searchItems.fatherName = '';"></i>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            کد ملی
                        </label>
                    </div>
                    <input type="text" class="form-control" ng-model="searchItems.nationalCode">
                    <i class="fa fa-close text-danger" style="position: absolute;left: 5%;top: 0.3em;"
                        ng-show="searchItems.nationalCode != ''" ng-click="searchItems.nationalCode = '';"></i>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-4 asp-label">
                        جنسیت
                    </div>
                    <div class="col-sm-8" style="text-align: right;">
                        <input type="radio" ng-model="searchItems.sex" name="marige" value="null">
                        <span class="asp-label">
                            هردو
                        </span>
                        <input type="radio" ng-model="searchItems.sex" name="marige" value="1">
                        <span class="asp-label">
                            مرد
                        </span>
                        <input type="radio" ng-model="searchItems.sex" name="marige" value="2">
                        <span class="asp-label">
                            زن
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            وضعیت تاهل
                        </label>
                    </div>
                    <p class="form-control" style="text-align: right;">
                        <span ng-repeat="mValue in searchItems.marrige">
                            {{mValue.Title}},
                        </span>
                    </p>
                    <div class="dropdown">
                        <i class="fa fa-chevron-down" style="position: absolute;left: 5px;top: 0.3em;"
                            data-toggle="dropdown" ng-click="openMarige()"></i>
                        <!-- <div style="position: absolute;width: 100%;top: 1.7em;height: 7em;background-color: white;border-radius: 5px;border: 1px solid lightgray;z-index: 2;"></div> -->
                        <div class="dropdown-menu" style="top: 4px !important;left: -6px !important;">
                            <div>
                                <div class="row" ng-repeat="marige in marigeStatus">
                                    <div class="col-sm-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" ng-click="MarigeStateChange(marige)"
                                                class="custom-control-input" id="check-m-{{marige.Id}}" name="example1">
                                            <label class="custom-control-label" for="check-m-{{marige.Id}}"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 asp-label" style="text-align: right;">
                                        {{marige.Title}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <select class="form-control">
                        <option>
                            مجرد
                        </option>
                        <option>
                            j, cknhk fohxv livdi
                        </option>
                    </select> -->
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            سن از
                        </label>
                    </div>
                    <input type="text" class="form-control" ng-model="searchItems.ageFrom">
                    <i class="fa fa-close text-danger" style="position: absolute;left: 5%;top: 0.3em;"
                        ng-show="searchItems.ageFrom != ''" ng-click="searchItems.ageFrom = '';"></i>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            تا
                        </label>
                    </div>
                    <input type="text" class="form-control" ng-model="searchItems.ageUntil">
                    <i class="fa fa-close text-danger" style="position: absolute;left: 5%;top: 0.3em;"
                        ng-show="searchItems.ageUntil != ''" ng-click="searchItems.ageUntil = '';"></i>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            تعداد فرزند از
                        </label>
                    </div>
                    <input type="text" class="form-control" ng-model="searchItems.childrenCountFrom">
                    <i class="fa fa-close text-danger" style="position: absolute;left: 5%;top: 0.3em;"
                        ng-show="searchItems.childrenCountFrom != ''"
                        ng-click="searchItems.childrenCountFrom = '';"></i>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            تا
                        </label>
                    </div>
                    <input type="text" class="form-control" ng-model="searchItems.childrenCountUntil">
                    <i class="fa fa-close text-danger" style="position: absolute;left: 5%;top: 0.3em;"
                        ng-show="searchItems.childrenCountUntil != ''"
                        ng-click="searchItems.childrenCountUntil = '';"></i>
                </div>
            </div>
            <div class="col-sm-6"></div>
            <hr>
            <!-- <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            شماره مستخدمی
                        </label>
                    </div>
                    <input class="form-control" type="text" ng-model="searchItems.personnelCode">
                    <i class="fa fa-close text-danger" style="position: absolute;left: 5%;top: 0.3em;"
                        ng-show="searchItems.personnelCode != ''" ng-click="searchItems.personnelCode = '';"></i>
                </div>
            </div> -->
            <!-- <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            کد پرسنلی
                        </label>
                    </div>
                    <input class="form-control" type="text" ng-model="searchItems.employeeCode">
                    <i class="fa fa-close text-danger" style="position: absolute;left: 5%;top: 0.3em;"
                        ng-show="searchItems.employeeCode != ''" ng-click="searchItems.employeeCode = '';"></i>
                </div>
            </div> -->
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            تاریخ استخدام از
                        </label>
                    </div>
                    <input class="form-control date-picker" id="from" ng-model="searchItems.employmentFrom">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            تا
                        </label>
                    </div>
                    <input class="form-control date-picker" id="until" ng-model="searchItems.employmentUntil">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            وضعیت خدمتی
                        </label>
                    </div>
                    <p class="form-control" style="text-align: right;">
                        <span class="alert alert-success" style="margin: 0 2.5px;padding: 0 5px;display: inline-block;"
                            ng-repeat="eValue in searchItems.employeeStatus">
                            {{eValue.Title}}
                            <i class="fa fa-close pointer" ng-click="removeEmployee($index,eValue.Id)"></i>
                        </span>
                        <i class="fa fa-chevron-down pointer"
                            ng-click="stateSituation? stateSituation = false : stateSituation = true"
                            style="float:left;margin:0 -7px;font-size: 16px;"></i>
                    </p>
                    <div ng-if="stateSituation" ng-init="getStateArray()"
                        style="position: absolute;width: 100%;top: 1.7em;min-height: 7em;background-color: white;border-radius: 5px;border: 1px solid lightgray;z-index: 2;padding: 5px;">
                        <div class="card">
                            <input class="form-control" ng-model="searchItem" ng-keyup="searchState(searchItem)">
                            <div class="table-header">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width: 26%;">

                                            </th>
                                            <th style="width: 74%;">
                                                عنوان
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="table-body">
                                <table class="test">
                                    <tbody>
                                        <tr ng-repeat="state in stateArray.Items">
                                            <td style="width: 26%;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" ng-checked="checkingState(state)"
                                                        ng-click="eStateChange(state)" class="custom-control-input"
                                                        id="check-e-{{state.Id}}" name="example1">
                                                    <label class="custom-control-label"
                                                        for="check-e-{{state.Id}}"></label>
                                                </div>
                                            </td>
                                            <td style="width: 74%;">
                                                {{state.Title}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="row">
                                <div class="col-sm-10" style="text-align: right;">
                                    <span ng-click="loadPageS('last')" style="cursor: pointer;">
                                        <i class="fa fa-chevron-right" style="font-size: 0.7em;"></i>
                                        <i class="fa fa-chevron-right asp-label"
                                            style="margin-right: -3px;font-size: 0.7em;"></i>
                                    </span>
                                    <i class="fa fa-chevron-right asp-label" ng-click="loadPageS(1)"
                                        style="margin: 0 10px;cursor: pointer;font-size: 0.7em;"></i>
                                    <input class="form-control" id="pagingL"
                                        placeholder="{{stateArray.PageIndex}} از  {{stateArray.TotalPages}}"
                                        style="width: 30%;display: inline-block;position: relative;top: 0px;font-size: 0.7em;"
                                        ng-model="pageNumber" ng-keyup="changePageS($event,pageNumber);">
                                    <i class="fa fa-chevron-left asp-label" ng-click="loadPageS(-1)"
                                        style="margin: 0 10px;cursor: pointer;font-size: 0.7em;"></i>
                                    <span ng-click="loadPageS('first')" style="cursor: pointer;">
                                        <i class="fa fa-chevron-left asp-label"
                                            style="margin-left: -3px;font-size: 0.7em;"></i>
                                        <i class=" fa fa-chevron-left asp-label" style="font-size: 0.7em;"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            نوع استخدامی
                        </label>
                    </div>
                    <p class="form-control" style="text-align: right;">
                        <span class="alert alert-success" style="margin: 0 2.5px;padding: 0 5px;display: inline-block;"
                            ng-repeat="eValue in searchItems.serviceStatus">
                            {{eValue.Title}}
                            <i class="fa fa-close pointer" ng-click="removeService($index,eValue.Id)"></i>
                        </span>
                    </p>
                    <div class="dropdown">
                        <i class="fa fa-chevron-down" style="position: absolute;left: 5px;top: 0.3em;"
                            data-toggle="dropdown"></i>
                        <div class="dropdown-menu"
                            style="top: 4px !important;left: -6px !important;height: auto;overflow-y: auto;overflow-x: hidden;width: 32.5em;">
                            <div class="card">
                                <input class="form-control" ng-model="serviceFilter.Title">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-header">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th style="width: 12%;"></th>
                                                        <th style="width: 88%;">
                                                            عنوان
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>

                                        </div>
                                        <div class="table-body" style="max-height: 24vh;">
                                            <table class="test">
                                                <tbody>
                                                    <tr ng-repeat="marige in employeeType | filter:serviceFilter">
                                                        <td style="width: 10%;">
                                                            <div class="custom-control custom-checkbox"
                                                                style="display: inline-block;margin-top: -38px;">
                                                                <input type="checkbox"
                                                                    ng-click="serviceStateChange(marige)"
                                                                    class="custom-control-input"
                                                                    id="check-s-service-{{marige.Id}}" name="example1">
                                                                <label class="custom-control-label"
                                                                    for="check-s-service-{{marige.Id}}"></label>
                                                            </div>
                                                        </td>
                                                        <td style="width: 90%;">
                                                            {{marige.Title}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            وضعیت ایثارگری
                        </label>
                    </div>
                    <p class="form-control" style="text-align: right;">
                        <span class="alert alert-success" style="margin: 0 2.5px;padding: 0 5px;display: inline-block;"
                            ng-repeat="wValue in searchItems.warStatus">
                            {{wValue.Title}}
                            <i class="fa fa-close pointer" ng-click="removeWar($index,wValue.Id)"></i>
                        </span>
                    </p>
                    <div class="dropdown">
                        <i class="fa fa-chevron-down" style="position: absolute;left: 5px;top: 0.3em;"
                            data-toggle="dropdown" ng-click="openWar()"></i>
                        <!-- <div style="position: absolute;width: 100%;top: 1.7em;height: 7em;background-color: white;border-radius: 5px;border: 1px solid lightgray;z-index: 2;"></div> -->
                        <div class="dropdown-menu" style="top: 4px !important;left: -6px !important;width: 32.5em;">
                            <div class="card">
                                <input class="form-control" ng-model="warFilter.Title">
                                <div class="table-header">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="width: 12%;"></th>
                                                <th style="width: 88%;">
                                                    عنوان
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="table-body">
                                    <table class="test">
                                        <tbody>
                                            <tr ng-repeat="war in warStatus|filter:warFilter">
                                                <td style="width:10%">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" ng-click="warStateChange(war)"
                                                            class="custom-control-input" id="check-w-war-{{war.Id}}"
                                                            name="example1">
                                                        <label class="custom-control-label"
                                                            for="check-w-war-{{war.Id}}"></label>
                                                    </div>
                                                </td>
                                                <td style="width:90%">
                                                    {{war.Title}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            پایه شغلی
                        </label>
                    </div>
                    <p class="form-control" style="text-align: right;">
                        <span class="alert alert-success" style="margin: 0 2.5px;padding: 0 5px;display: inline-block;"
                            ng-repeat="jValue in searchItems.jobType">
                            {{jValue.Title}}
                            <i class="fa fa-close pointer" ng-click="removeJob($index,jValue.Id)"></i>
                        </span>
                    </p>
                    <div class="dropdown">
                        <i class="fa fa-chevron-down" style="position: absolute;left: 5px;top: 0.3em;"
                            data-toggle="dropdown" ng-click="openJob()"></i>
                        <!-- <div style="position: absolute;width: 100%;top: 1.7em;height: 7em;background-color: white;border-radius: 5px;border: 1px solid lightgray;z-index: 2;"></div> -->
                        <div class="dropdown-menu" style="top: 4px !important;left: -6px !important;width: 32.5em;">
                            <div class="card">
                                <div class="table-header">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="width: 12%;"></th>
                                                <th style="width: 88%;">
                                                    عنوان
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="table-body">
                                    <table class="test">
                                        <tbody>
                                            <tr ng-repeat="job in jobStatus">
                                                <td style="width: 10%;">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customCheck-work-{{job.Id}}"
                                                            ng-click="jobStateChange(job)" name="example1">
                                                        <label class="custom-control-label"
                                                            for="customCheck-work-{{job.Id}}"></label>
                                                    </div>
                                                </td>
                                                <td style="width: 90%;">
                                                    {{job.Title}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="text-align: left;">
                <input type="button" class="new-button" ng-click="submitFilter()" value="جستجو">
                <input type="button" class="new-button red" ng-click="clearFilter()" value="پاک کردن تمامی فیلترها">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="table-header">
            <table>
                <thead>
                    <tr>
                        <th style="width: 6%;"></th>
                        <th style="width: 25%;">
                            نام
                        </th>
                        <th style="width: 25%;">
                            نام خانوادگی
                        </th>
                        <th style="width: 22%;">
                            شماره مستخدمی
                        </th>
                        <th style="width: 22%;">
                            کد پرسنلی
                        </th>
                    </tr>
                    <tr>
                        <th style="width: 6%;">
                            <div class="custom-control custom-checkbox" ng-if="selectMulti">
                                <input type="checkbox" ng-click="setAllPersonnel()" class="custom-control-input"
                                    id="customCheck-all" name="example1">
                                <label class="custom-control-label" for="customCheck-all"></label>
                            </div>
                        </th>
                        <th style="width: 25%;">
                            <div style="position: relative;">
                                <i class="fa fa-close text-danger" style="position: absolute;left: 5%;top: 0.5em;"
                                    ng-show="searchItems.name != ''"
                                    ng-click="searchItems.name = '';changeSearchTable()"></i>
                                <input type="text" style="font-size: 1em !important;" ng-model="searchItems.name"
                                    ng-keyup="changeSearchTable()" class="form-control">
                            </div>
                        </th>
                        <th style="width: 25%;">
                            <div style="position: relative;">
                                <i class="fa fa-close text-danger" style="position: absolute;left: 5%;top: 0.5em;"
                                    ng-show="searchItems.family != ''"
                                    ng-click="searchItems.family = '';changeSearchTable()"></i>
                                <input type="text" style="font-size: 1em !important;" ng-model="searchItems.family"
                                    ng-keyup="changeSearchTable()" class="form-control">
                            </div>
                        </th>
                        <th style="width: 22%;">
                            <div style="position: relative;">
                                <i class="fa fa-close text-danger" style="position: absolute;left: 5%;top: 0.5em;"
                                    ng-show="searchItems.personnelCode!= ''"
                                    ng-click="searchItems.personnelCode= '';changeSearchTable()"></i>
                                <input type="text" style="font-size: 1em !important;"
                                    ng-model="searchItems.personnelCode" ng-keyup="changeSearchTable()"
                                    class="form-control">
                            </div>
                        </th>
                        <th style="width: 22%;">
                            <div style="position: relative;">
                                <i class="fa fa-close text-danger" style="position: absolute;left: 5%;top: 0.5em;"
                                    ng-show="searchItems.employeeCode != ''"
                                    ng-click="searchItems.employeeCode = '';changeSearchTable()"></i>
                                <input type="text" style="font-size: 1em !important;"
                                    ng-model="searchItems.employeeCode" ng-keyup="changeSearchTable()"
                                    class="form-control">
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-body">
            <table class="test">
                <tbody>
                    <tr ng-repeat="personnel in tableData.Items" ng-click="setPersonnelModal(personnel)">
                        <td style="width: 6%;">
                            <div class="custom-control custom-checkbox" ng-if="selectMulti">
                                <input type="checkbox" ng-checked="checkMulti(personnel.Id)"
                                    class="custom-control-input" id="customCheck-{{personnel.Id}}" name="example1">
                                <label class="custom-control-label" for="customCheck-{{personnel.Id}}"></label>
                            </div>
                            <input type="radio" ng-if="!selectMulti" name="select"
                                ng-click="setPersonnelModal(personnel)">
                        </td>
                        <td style="width: 25%;">
                            {{personnel.FirstName}}
                        </td>
                        <td style="width: 25%;">
                            {{personnel.LastName}}
                        </td>
                        <td style="width: 22%;">
                            {{personnel.PersonnelNo}}
                        </td>
                        <td style="width: 22%;">
                            {{personnel.DossierNo}}
                        </td>
                    </tr>
                    <tr ng-if="tableData.Items == undefined">
                        <td colspan="5">
                            <p class="text-danger" style="text-align: right;">
                                موردی با این مشخصات پیدا نشد
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col" style="text-align: right;">
                <span ng-click="loadPage('last')" style="cursor: pointer;">
                    <i class="fa fa-chevron-right" style="font-size: 0.7em;"></i>
                    <i class="fa fa-chevron-right asp-label" style="margin-right: -3px;font-size: 0.7em;"></i>
                </span>
                <i class="fa fa-chevron-right asp-label" ng-click="loadPage(1)"
                    style="margin: 0 10px;cursor: pointer;font-size: 0.7em;"></i>
                <input class="form-control" id="pagingD"
                    placeholder="{{tableData.PageIndex}} از  {{tableData.TotalPages}}"
                    style="width: 30%;display: inline-block;position: relative;top: 0px;font-size: 0.7em;"
                    ng-model="pageNumber" ng-keyup="changePage($event,pageNumber);">
                <i class="fa fa-chevron-left asp-label" ng-click="loadPage(-1)"
                    style="margin: 0 10px;cursor: pointer;font-size: 0.7em;"></i>
                <span ng-click="loadPage('first')" style="cursor: pointer;">
                    <i class="fa fa-chevron-left asp-label" style="margin-left: -3px;font-size: 0.7em;"></i>
                    <i class=" fa fa-chevron-left asp-label" style="font-size: 0.7em;"></i>
                </span>
            </div>
            <div class="col"></div>
            <div class="col" style="text-align: left;">
                <button class="new-button" data-toggle="collapse" data-target="#demo" onclick="return false">
                    <i class="fa fa-search text-white"></i>
                    جستجوی پیشرفته
                </button>
                <!-- <input type="button" class="new-button red" ng-click="$('#selectPersonnel').modal()"
                    value="انصراف"> -->
            </div>
        </div>
    </div>
</div>