<!DOCTYPE html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <!-------------------------- styles  ---------------------->

    <link rel="stylesheet" href="firefoxStyle/bootstrap.min.css">
    <link rel="stylesheet" href="firefoxStyle/font-awesome2.min.css">
    <link rel="stylesheet" href="firefoxStyle/font-awesome.min.css">
    <link href="firefoxStyle/datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="firefoxStyle/main.css">
    <link rel="stylesheet" href="firefoxStyle/newElementsStyle.css">
    <link href="firefoxStyle/time.min.css" rel="stylesheet">
    <style>
        .default-bg {
            background-image: url("Images/polygon.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
        }

        body {
            overflow: hidden;

        }

        body>div {
            direction: rtl;
        }

        input:focus {
            border: none;
            outline: none;
        }
    </style>
    <!------------------ scripts ----------------------->

    <script src="firefoxStyle/newJavascript/angular.min.js"></script>
    <script src="firefoxStyle/newJavascript/jquery.min.js"></script>
    <script src="firefoxStyle/newJavascript/propper.js"></script>
    <script src="firefoxStyle/newJavascript/bootstrap.min.js"></script>
    <script src="firefoxStyle/newJavascript/moment.js"></script>
    <script src="firefoxStyle/newJavascript/moment-jalaali.js"></script>
    <script src="firefoxStyle/datepicker/bootstrap-datepicker.js"></script>
    <script src="firefoxStyle/datepicker/bootstrap-datepicker.fa.min.js"></script>
    <script src="firefoxStyle/newJavascript/time.min.js"></script>
    <script src="firefoxStyle/newJavascript/generalSetting.js"></script>
    <script src="firefoxStyle/newJavascript/requests.js"></script>

    <title>تنظیمات ساعت کارکرد</title>
</head>

<body class="default-bg " ng-app="myApp" ng-controller="generalSettingsCtrl">
    <p class="HeaderForm">
        تنظیمات ساعت کارکرد
    </p>
    <!---------------- table -------------->
    <div class="card" ng-init="getWorkSettingLists()">
        <div class="table-header">
            <table class="text-center">
                <thead>
                    <tr>
                        <th class="w-50">عنوان</th>
                        <th class="">مقدار</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-body">
            <table class="text-center">
                <tbody>
                    <tr>
                        <td class="text-center w-50" ng-bind="WorkRules.item1[0].id"></td>
                        <td class="text-center">
                            {{convertToShamsi(WorkRules.item1[0].createdAt)}}
                            <div class="float-left">
                                <i class="fa fa-trash " title="حذف" ng-click="deleteBtn(WorkRules.item1[0])"></i>
                                <i class="fa fa-edit ml-1" title="ویرایش" ng-click="editBtn(WorkRules.item1[0])"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!------------------ table btns ------------------->
    <div class="card" ng-hide="WorkRules.item1.length == 1">
        <div class="float-left">
            <i class="fa fa-plus" title="افزودن" ng-click="CreateWorkSetting()"></i>
        </div>
    </div>
    <!------------------- create modal -------------------->
    <div class="modal" id="createModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="HeaderForm">
                        ایجاد تنطیمات جدید
                        <i class="fa fa-close text-danger float-left" title="انصراف" ng-click="cancelBtn()"></i>
                    </p>
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-8 row">
                                <div class="col-6">
                                    <div class="mb-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">
                                                    تاجیل مجاز
                                                </label>
                                            </div>
                                            <input class="form-control" type="number"
                                                ng-model="createWork.allowedHurryMin">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">
                                                    تاخیر مجاز
                                                </label>
                                            </div>
                                            <input class="form-control" type="number"
                                                ng-model="createWork.allowedDelayMin">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">
                                                    تاخیر در خروج مجاز
                                                </label>
                                            </div>
                                            <input class="form-control" type="number"
                                                ng-model="createWork.allowedLeaveDelayMin">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">
                                                    تاجیل در خروج مجاز
                                                </label>
                                            </div>
                                            <input class="form-control" type="number"
                                                ng-model="createWork.allowedLeaveHurryMin">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4 mb-1 mt-2">
                                <div class="custom-check" style="text-align: right;padding-right: 41px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                            ng-model="createWork.allowedHurryAddToShortageHour"
                                            id="CallowedHurryAddToShortageHour">
                                        <label class="custom-control-label asp-label"
                                            for="CallowedHurryAddToShortageHour">
                                            اعمال کسری تاجیل
                                        </label>
                                    </div>
                                </div>

                                <div class="custom-check" style="text-align: right;padding-right: 41px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                            ng-model="createWork.allowedDelayAddToShortageHour"
                                            id="CallowedDelayAddToShortageHour">
                                        <label class="custom-control-label asp-label"
                                            for="CallowedDelayAddToShortageHour">
                                            اعمال کسری تاخیر
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 custom-check mr-2" style="text-align: right;padding-right: 42px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                        ng-model="createWork.isExtraWork" id="CisExtraWork">
                                    <label class="custom-control-label asp-label" for="CisExtraWork">دارای اضافه
                                        کار</label>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="createWork.isExtraWork">
                                <div class="card">
                                    <div class="card-header" style="padding:0">
                                        <p class="asp-label" style="text-align: right;margin-bottom: 0;">
                                            مشخصات اضافه کار
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text">
                                                            میانگین اضافه کار
                                                        </label>
                                                    </div>
                                                    <input class="form-control" type="number"
                                                        ng-model="createWork.extraHourRate">
                                                </div>
                                            </div>
                                            <div class="col-sm-8"></div>
                                            <div class="col-sm-4 custom-check"
                                                style="text-align: right;padding-right: 42px;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="ChasExtraBefore" ng-model="createWork.hasExtraBefore">
                                                    <label class="custom-control-label asp-label"
                                                        for="ChasExtraBefore">اضافه کاری
                                                        قبل از شروع کار</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4" ng-if="createWork.hasExtraBefore">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text">
                                                            حداقل زمان
                                                        </label>
                                                    </div>
                                                    <input class="form-control" type="number"
                                                        ng-model="createWork.minTimeBefore">
                                                </div>
                                            </div>
                                            <div class="col-sm-4" ng-if="createWork.hasExtraBefore">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text">
                                                            حداکثر زمان
                                                        </label>
                                                    </div>
                                                    <input class="form-control" type="number"
                                                        ng-model="createWork.maxTimeBefore">
                                                </div>
                                            </div>
                                            <div class="col-sm-8" ng-if="!createWork.hasExtraBefore"></div>
                                            <div class="col-sm-4 custom-check"
                                                style="text-align: right;padding-right: 42px;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        ng-model="createWork.hasExtraAfter" id="ChasExtraAfter">
                                                    <label class="custom-control-label asp-label"
                                                        for="ChasExtraAfter">اضافه
                                                        کاری
                                                        بعد از اتمام کار</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4" ng-if="createWork.hasExtraAfter">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text">
                                                            حداقل زمان
                                                        </label>
                                                    </div>
                                                    <input class="form-control" type="number"
                                                        ng-model="createWork.minTimeAfter">
                                                </div>
                                            </div>
                                            <div class="col-sm-4" ng-if="createWork.hasExtraAfter">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text">
                                                            حداکثر زمان
                                                        </label>
                                                    </div>
                                                    <input class="form-control" type="number"
                                                        ng-model="createWork.maxTimeAfter">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card row">
                        <div style="text-align: left;">
                            <button class="new-button red" ng-click="cancelSetting()"><i
                                    class="fa fa-close ml-1"></i>انصراف
                            </button>
                            <button class="new-button green" ng-click="confirmCreate()"><i
                                    class="fa fa-check ml-1"></i>تایید
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------- edit modal -------------------->
    <div class="modal" id="editModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="HeaderForm">
                        ویرایش
                        <i class="fa fa-close text-danger float-left" title="انصراف" ng-click="cancleEditBtn()"></i>
                    </p>
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-8 row">
                                <div class="col-6">
                                    <div class="mb-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">
                                                    تاجیل مجاز
                                                </label>
                                            </div>
                                            <input class="form-control" type="number"
                                                ng-model="editWorkSetting.allowedHurryMin">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">
                                                    تاخیر مجاز
                                                </label>
                                            </div>
                                            <input class="form-control" type="number"
                                                ng-model="editWorkSetting.allowedDelayMin">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">
                                                    تاخیر در خروج مجاز
                                                </label>
                                            </div>
                                            <input class="form-control" type="number"
                                                ng-model="editWorkSetting.allowedLeaveDelayMin">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">
                                                    تاجیل در خروج مجاز
                                                </label>
                                            </div>
                                            <input class="form-control" type="number"
                                                ng-model="editWorkSetting.allowedLeaveHurryMin">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4 mb-1 mt-2">
                                <div class="custom-check" style="text-align: right;padding-right: 41px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                            ng-model="editWorkSetting.allowedHurryAddToShortageHour"
                                            id="EallowedHurryAddToShortageHour">
                                        <label class="custom-control-label asp-label"
                                            for="EallowedHurryAddToShortageHour">
                                            اعمال کسری تاجیل
                                        </label>
                                    </div>
                                </div>

                                <div class="custom-check" style="text-align: right;padding-right: 41px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                            ng-model="editWorkSetting.allowedDelayAddToShortageHour"
                                            id="EallowedDelayAddToShortageHour">
                                        <label class="custom-control-label asp-label"
                                            for="EallowedDelayAddToShortageHour">
                                            اعمال کسری تاخیر
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 custom-check mr-2" style="text-align: right;padding-right: 42px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                        ng-model="editWorkSetting.isExtraWork" id="EisExtraWork">
                                    <label class="custom-control-label asp-label" for="EisExtraWork">دارای اضافه
                                        کار</label>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="editWorkSetting.isExtraWork">
                                <div class="card">
                                    <div class="card-header" style="padding:0">
                                        <p class="asp-label" style="text-align: right;margin-bottom: 0;">
                                            مشخصات اضافه کار
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text">
                                                            میانگین اضافه کار
                                                        </label>
                                                    </div>
                                                    <input class="form-control" type="number"
                                                        ng-model="editWorkSetting.extraHourRate">
                                                </div>
                                            </div>
                                            <div class="col-sm-8"></div>
                                            <div class="col-sm-4 custom-check"
                                                style="text-align: right;padding-right: 42px;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="EhasExtraBefore" ng-model="editWorkSetting.hasExtraBefore">
                                                    <label class="custom-control-label asp-label"
                                                        for="EhasExtraBefore">اضافه کاری
                                                        قبل از شروع کار</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4" ng-if="editWorkSetting.hasExtraBefore">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text">
                                                            حداقل زمان
                                                        </label>
                                                    </div>
                                                    <input class="form-control" type="number"
                                                        ng-model="editWorkSetting.minTimeBefore">
                                                </div>
                                            </div>
                                            <div class="col-sm-4" ng-if="editWorkSetting.hasExtraBefore">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text">
                                                            حداکثر زمان
                                                        </label>
                                                    </div>
                                                    <input class="form-control" type="number"
                                                        ng-model="editWorkSetting.maxTimeBefore">
                                                </div>
                                            </div>
                                            <div class="col-sm-8" ng-if="!editWorkSetting.hasExtraBefore"></div>
                                            <div class="col-sm-4 custom-check"
                                                style="text-align: right;padding-right: 42px;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        ng-model="editWorkSetting.hasExtraAfter" id="CheckBox5">
                                                    <label class="custom-control-label asp-label" for="CheckBox5">اضافه
                                                        کاری
                                                        بعد از اتمام کار</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4" ng-if="editWorkSetting.hasExtraAfter">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text">
                                                            حداقل زمان
                                                        </label>
                                                    </div>
                                                    <input class="form-control" type="number"
                                                        ng-model="editWorkSetting.minTimeAfter">
                                                </div>
                                            </div>
                                            <div class="col-sm-4" ng-if="editWorkSetting.hasExtraAfter">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text">
                                                            حداکثر زمان
                                                        </label>
                                                    </div>
                                                    <input class="form-control" type="number"
                                                        ng-model="editWorkSetting.maxTimeAfter">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card row">
                        <div style="text-align: left;">
                            <button class="new-button red" ng-click="cancelEdit()"><i
                                    class="fa fa-close ml-1"></i>انصراف
                            </button>
                            <button class="new-button green" ng-click="confirmEdit()"><i
                                    class="fa fa-check ml-1"></i>تایید
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------- remove modal -------------------->
    <div class="modal" id="removeModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="HeaderForm">
                        حذف
                        <i class="fa fa-close text-danger float-left" title="حذف" ng-click="cancleRemoveBtn()"></i>
                    </p>
                </div>
                <div class="card row">
                    <p class="text-danger asp-label" style="text-align: center;">
                        آیا از حذف این مورد اطمینان دارید؟
                    </p>
                    <div style="text-align: left;">
                        <button class="new-button red" ng-click="cancelDelete()"><i class="fa fa-close ml-1"></i>انصراف
                        </button>
                        <button class="new-button green" ng-click="confirmDelete()"><i
                                class="fa fa-check ml-1"></i>تایید
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>