<!DOCTYPE html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link href="firefoxStyle/bootstrap.min.css" rel="stylesheet">
    <link href="firefoxStyle/main.css" rel="stylesheet">
    <link href="firefoxStyle/newElementsStyle.css" rel="stylesheet">
    <link href="firefoxStyle/font-awesome.min.css" rel="stylesheet">
    <link href="firefoxStyle/datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="firefoxStyle/time.min.css" rel="stylesheet">
    <script src="firefoxStyle/newJavascript/angular.min.js"></script>
    <script src="firefoxStyle/newJavascript/jquery.min.js"></script>
    <script src="firefoxStyle/newJavascript/propper.js"></script>
    <script src="firefoxStyle/newJavascript/bootstrap.min.js"></script>
    <script src="firefoxStyle/newJavascript/moment.js"></script>
    <script src="firefoxStyle/newJavascript/moment-jalaali.js"></script>
    <script src="firefoxStyle/newJavascript/groupEnter.js"></script>
    <script src="firefoxStyle/newJavascript/requests.js"></script>
    <script src="firefoxStyle/newJavascript/modules/sharing.js"></script>
    <script src="firefoxStyle/newJavascript/modules/selectingChart.js"></script>
    <script src="firefoxStyle/newJavascript/modules/personnel.js"></script>
    <script src="firefoxStyle/datepicker/bootstrap-datepicker.js"></script>
    <script src="firefoxStyle/datepicker/bootstrap-datepicker.fa.min.js"></script>
    <script src="firefoxStyle/newJavascript/time.min.js"></script>
    <style>
        .top-Ab {
            position: absolute;
            width: 100%;
            top: 24px;
            z-index: 100;
            overflow-y: auto;
            height: 25vh;
        }

        .wickedpicker {
            z-index: 3000 !important;
            direction: ltr !important;
        }

        .time {
            direction: ltr !important;
            text-align: right;
        }

        .wickedpicker__controls__control span {
            display: block;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="groupEnteranceCtrl">
    <p class="HeaderForm">
        ثبت تردد گروهی
    </p>
    <div class="card">
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-append">
                        <label class="input-group-text">
                            تاریخ 
                        </label>
                    </div>
                    <input class="form-control date-picker" placeholder="xxxx/xx/xx">
                </div>
            </div>
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-append">
                        <label class="input-group-text">
                            ساعت ورود
                        </label>
                    </div>
                    <input class="form-control time">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-append">
                        <label class="input-group-text">
                            ساعت خروج
                        </label>
                    </div>
                    <input class="form-control time">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-append">
                        <label class="input-group-text">
                            نوع تردد
                        </label>
                    </div>
                    <input class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div ng-init="selectPersonnel()">
        <div ng-if="loadingPersonnel" ng-include="'modules/personnelSelect.html'"></div>
    </div>
    <div class="card">
        <div style="text-align: left;">
            <button class="new-button green" ng-click="confirmGroupEnterance()">
                <i class="fa fa-check"></i>
                تایید
            </button>
        </div>
    </div>
</body>

</html>