<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <!-------------------------- styles  ---------------------->

    <link rel="stylesheet" href="firefoxStyle/bootstrap.min.css">
    <link rel="stylesheet" href="firefoxStyle/font-awesome2.min.css">
    <link rel="stylesheet" href="firefoxStyle/font-awesome.min.css">
    <link href="firefoxStyle/datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="firefoxStyle/main.css">
    <link rel="stylesheet" href="firefoxStyle/newElementsStyle.css">
    <link href="firefoxStyle/time.min.css" rel="stylesheet">
    <style>
        .default-bg {
            background-image: url("Images/polygon.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
        }

        body {
            overflow-y: scroll;
            overflow-x: hidden;
        }

        body>div {
            direction: rtl;
        }

        .cursor-pointer {
            cursor: pointer;
        }
    </style>
    <!------------------ scripts ----------------------->
    <script src="firefoxStyle/newJavascript/angular.min.js"></script>
    <script src="firefoxStyle/newJavascript/jquery.min.js"></script>
    <script src="firefoxStyle/newJavascript/propper.js"></script>
    <script src="firefoxStyle/newJavascript/bootstrap.min.js"></script>
    <script src="firefoxStyle/newJavascript/moment.js"></script>
    <script src="firefoxStyle/newJavascript/moment-jalaali.js"></script>
    <script src="firefoxStyle/datepicker/bootstrap-datepicker.js"></script>
    <script src="firefoxStyle/datepicker/bootstrap-datepicker.fa.min.js"></script>
    <script src="firefoxStyle/newJavascript/time.min.js"></script>
    <script src="firefoxStyle/newJavascript/personnelTrafficDailyReportCtrl.js"></script>
    <script src="firefoxStyle/newJavascript/requests.js"></script>
    <script src="firefoxStyle/newJavascript/modules/sharing.js"></script>
    <script src="firefoxStyle/newJavascript/modules/selectingChart.js"></script>
    <script src="firefoxStyle/newJavascript/modules/personnel.js"></script>
    <title>گزارش تردد روزانه پرسنل</title>
</head>

<body dir="rtl" ng-app="myApp" ng-controller="personnelTrafficDailyReportCtrl">
    <p class="HeaderForm">گزارش تردد روزانه پرسنل</p>


    <!------------------- filter for search and select personnel ---------------------->
    <div class="card">
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            نام فرد
                        </label>
                    </div>
                    <input class="form-control" ng-model="searchPInMission.value" id="personnel-input"
                        ng-value="searchPInMission.value" ng-focus="selectFormLocal()"
                        ng-keyup="serachPersonel(searchPInMission.value)"
                        placeholder="نام/ نام خانوادگی/ کد ملی/ شماره کارمند">
                    <i class="fa fa-download text-success pointer" ng-show="!localPersonnel && !searchingPosition"
                        ng-click="localPersonnel = true" style="position: absolute;top: 0.3em;left: 5%;z-index: 3;"></i>
                    <i class="fa fa-bars pointer" ng-click="selectPersonnel()"
                        style="position: relative;top:5px;right:3px"></i>
                    <i class="fa fa-close text-danger pointer" ng-if="searchingPosition"
                        ng-click="searchingPositionChange()"
                        style="position: absolute;top: 0.3em;left: 5%;z-index: 3;"></i>
                    <i class="fa fa-close text-danger pointer" ng-show="localPersonnel"
                        ng-click="localPersonnel = false"
                        style="position: absolute;top: 0.3em;left: 5%;z-index: 3;"></i>
                    <div ng-if="searchingPosition" style="position: absolute;top:1.6em;width: 100%;z-index: 2;"
                        ng-include="'modules/personnelSelectDropdown.html'"></div>
                    <div ng-if="localPersonnel" style="position: absolute;top:1.6em;width: 100%;z-index: 2;"
                        ng-include="'modules/personnelSelectLocal.html'"></div>
                </div>
            </div>
            <div class="col-sm-6" style="text-align: center;">
                <div class="spinner-border text-primary" ng-if="loading"></div>
            </div>
        </div>
    </div>
    <!------------------- select personnel ---------------------->
    <div class="modal fade" id="selectPersonnel">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-head">
                    <p class="HeaderForm">
                        انتخاب پرسنل
                        <i class="fa  fa-close text-danger pointer" style="float: left;margin: 0 5px;"
                            data-dismiss="modal"></i>
                    </p>
                </div>
                <div class="modal-body" style="padding-top: 0;">
                    <div ng-if="loadingPersonnel" ng-include="'modules/personnelSelect.html'"></div>
                </div>
                <div class="card">
                    <div class="float-left">
                        <button class="new-button red" ng-click="CancelAddPersonnel()"><i
                                class="fa fa-close"></i>انصراف</button>
                        <button class="new-button green" id="confirmBtn" ng-click="confirmAddingPersonnel()"><i
                                class="fa fa-check"></i>تایید</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------------- search btn ---------------------->
    <div class="card" ng-show="showSearch">
        <div class="col-12 row">
            <div class="col-4">
                <div style="margin-bottom: 15px;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text">
                                تاریخ از
                            </label>
                        </div>
                        <input type="text" autocomplete="off" class="form-control date-picker" placeholder="xxxx/xx/xx"
                            ng-model="report.fromDate">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text">
                                تاریخ تا
                            </label>
                        </div>
                        <input type="text" autocomplete="off" class="form-control date-picker" placeholder="xxxx/xx/xx"
                            ng-model="report.toDate">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text">
                                نحوه نمایش
                            </label>
                        </div>
                        <select class="form-control">
                            <option ng-value="1">عدد دقیقه</option>
                            <option ng-value="2" selected>ساعت:دقیقه</option>
                            <option ng-value="3">عدد ساعت</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text">
                                وضعیت روز
                            </label>
                        </div>
                        <select class="form-control">
                            <option ng-value="0" selected></option>
                            <option ng-value="1">کاری</option>
                            <option ng-value="2">تعطیل</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-4 float-left">
                <div style="text-align: left;">
                    <button class="new-button" ng-click="searching()"><i class="fa fa-search
                             ml-1"></i>مشاهده
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- selected personnel table -->
    <div class="card" ng-if="personnelInfoExist">
        <p class="HeaderForm">
            افراد انتخاب شده
        </p>
        <div class="table-header">
            <table>
                <thead>
                    <tr class="row col-12">
                        <th class="col-3 text-center">
                            نام
                        </th>
                        <th class="col-3 text-center">
                            نام خانوادگی
                        </th>
                        <th class="col-3 text-center">
                            شماره پرسنلی
                        </th>
                        <th class="col-3 text-center">
                            کد مستخدمی
                        </th>
                    </tr>

                </thead>
            </table>
        </div>
        <div class="table-body">
            <table class="test">
                <tbody>
                    <tr class="row col-12" id="test" ng-repeat="item in selectPersonnelFromDbArray track by item.Id">
                        <td class="hidden">{{$index}}</td>
                        <td class="col-3 text-center">{{item.FirstName}}</td>
                        <td class="col-3 text-center">{{item.LastName}}</td>
                        <td class="col-3 text-center">{{item.PersonnelNo}}</td>
                        <td class="col-3 text-center">{{item.DossierNo}}<i class="fa fa-trash text-danger pointer"
                                title="حذف فرد انتخاب شده" ng-click="RemovePersonnelSelection($index)"
                                style="float: left;margin: 0 5px;" data-dismiss="modal"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!------------ report table ------------------->
    <div ng-if="searchBtn">
        <div class="card">
            <div class="table-header">
                <table class="text-center">
                    <thead>
                        <tr class="col-12 row">
                            <th class="col-2">نام</th>
                            <th class="col-2">نام خانوادگی</th>
                            <th class="col-2">تاریخ</th>
                            <th class="col-2">زمان ورود</th>
                            <th class="col-2">زمان خروج</th>
                            <th class="col-2">مدت کارکرد</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table-body">
                <table class="test" id="inputFields">
                    <tbody>
                        <tr class="col-12 row" ng-repeat="report in reports.item1">
                            <td class="col-2">{{report.name}}</td>
                            <td class="col-2">{{report.displayName}}</td>
                            <td class="col-2">{{report.inDay}}</td>
                            <td class="col-2">{{report.inTime}}</td>
                            <td class="col-2">{{report.outTime}}</td>
                            <td class="col-2">{{report.workTime}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="card" ng-if="err">
            <div class="text-danger text-center"><strong>داده ای برای نمایش وجود ندارد😢</strong></div>
        </div>
        <!----------------- pagination ---------------->
        <div class="card">
            <div class="row">
                <div class="col-sm-6" style="text-align: right;">
                    <span ng-click="reportPages('last')" style="cursor: pointer;">
                        <i class="fa fa-chevron-right" style="font-size: 0.7em;"></i>
                        <i class="fa fa-chevron-right asp-label" style="margin-right: -3px;font-size: 0.7em;"></i>
                    </span>
                    <i class="fa fa-chevron-right asp-label" ng-click="reportPages(1)"
                        style="margin: 0 10px;cursor: pointer;font-size: 0.7em;"></i>
                    <input class="form-control" id="pagingD" placeholder="{{reports.item3}} از  {{reports.pagetotal}}"
                        style="width: 30%;display: inline-block;position: relative;top: 0px;font-size: 0.7em;"
                        ng-model="pageNumber" ng-keyup="changePage($event,pageNumber);">
                    <i class="fa fa-chevron-left asp-label" ng-click="reportPages(-1)"
                        style="margin: 0 10px;cursor: pointer;font-size: 0.7em;"></i>
                    <span ng-click="reportPages('first')" style="cursor: pointer;">
                        <i class="fa fa-chevron-left asp-label" style="margin-left: -3px;font-size: 0.7em;"></i>
                        <i class=" fa fa-chevron-left asp-label" style="font-size: 0.7em;"></i>
                    </span>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </div>
</body>

</html>